/* resp = responsive object-fit : cover*/ 
@media screen and (max-width: 1370px)
{ 
    img.resp-1370px-img-reservia { 
        height: 3rem;
        width: 5rem;
        position: absolute;
        left: 22px;
        top: 1px;
    }
    nav.resp-1370px-nav-top {  
        width: 370px;
    }
    .resp-1370px-register { 
        position: absolute;
        left: 245px;
        top: 20px;
        font-size: 5pt;
    }
    .resp-1370px-hebergement { 
        border-bottom: rgb(184, 174, 174) 0.1rem solid;
        width: 100%;
        padding-left: 40px;
        padding-bottom: 15px;	
    }
    .resp-1370px-activities { 
        border-bottom: rgb(184, 174, 174) 0.1rem solid;
        width: 100%;
        margin-top: 20%;
        padding-right: 40px;
        padding-bottom: 15px;
    }
    /*.barr:hover {
        display:none;
    }*/
    .resp-1370px-hebergement:hover,
    .resp-1370px-activities:hover { 
        border-bottom: #0065FC 0.2rem solid;
    }
    .resp-1370px-barr:hover {
        border-bottom: #0065FC 0.2rem solid;
        width: 150px;
    }




    p.title-filter { 
        font-size: 14pt;
        height: 15px;
    }
    div.resp-1370px-main-top { 
        width: 100%;
    }
    h3.resp-1370px-text-size {
        font-size: 17pt;
    }
    br.resp-1370px-jump-line {
        display: initial;
    }	
    div.resp-1370px-filter { 
        height: auto;
        width: 90%;																	
    }
    ul.resp-1370px-filter-list {  
        height: 7rem;
        width: 300px;
    }
    span.resp-1370px-desktop-text {
        display: none;
    }
    div.resp-1370px-search { 
        margin-top: 1%;
        margin-bottom: 0.5%;
    }
    button.resp-1370px-button-search {
        background-color: #0065FC;
        border-radius: 10px 10px 10px 10px;		
        border: #0065FC;
        width: 2.5rem;
        height: 2.5rem;
        margin-left: -10px;
    }
    img.resp-1370px-search-glass {  							
        display: initial;
        height: 15px;
        width: 15px;
        margin: 15% 0% 0% 10%; 
        margin-left: 10%;
        max-width: 100%;
    }
    li.resp-1370px-border { 
        margin-bottom: 3%;
    }
    li.resp-1370px-typo-grey { 
        font-size: 15pt;
        margin-left: 0.5%;
    }




    main > div.resp-1370px-main-middle {         padding: 0%;

        flex-direction: column-reverse;
        height: 125rem;
        width: 100%;
    }
    main > div > section.resp-1370px-accommodation-box {  
        /*background-color: rgb(242, 242, 242);*/
        height: 45rem;
        width: 68%;																	
    }
    img.resp-1370px-blue-star {
        object-fit: cover;
        height: 20px;
        width: 20px;
        max-width: 100%;
        margin: 0;
    }
    
    ul.resp-1370px-name-margin-hebergement {
        margin-top: 5%;
        margin-left: 5%;
        margin-bottom: 5%;
    }
    li.resp-1370px-place-name-hebergement {
        font-size: 15pt;
    }
    li.resp-1370px-rate-hebergement {
        font-size: 12pt;
    }
    div.resp-1370px-image-box {    
        height: 17rem;
        width: 30%;																	
        max-width: 100%;																	
    }
    figure  >img.resp-1370px-img-size-top {
        height: 10rem;
        width: 100%;																
    }




    section.resp-1370px-popular-box {  
        border-radius: 0px 0px 0px 0px;
        height: 45rem;
        width: 27%;		
    }
    div.resp-1370px-title-box {  
        margin-top: 6%;
        margin-bottom: 2.7rem;
        height: 15px;
    }
    div.resp-1370px-thumbnail-box {
            flex-direction: column;
        height: 39rem;
        width: 100%;		
    }
    figure.resp-1370px-figure-size {
        flex-direction: row;  
        height: auto;
    }
    ul.resp-1370px-name-margin-popular { 
        width: 15rem;
        margin-top: 5%;
        margin-left: 5%;
        margin-bottom: 5%;
    }
    li.resp-1370px-place-name-popular {
        font-size: 15pt;
    }
    li.resp-1370px-rate-popular {
        font-size: 12pt;
    }
    div.resp-1370px-star-popular {
        margin-left: 44.5%;
    }
    div.resp-1370px-image-box-2 {  
        border-radius: 20px 20px 20px 20px;
        height: 11.5rem;
        width: 20rem;
        padding: 1%;
    }
    img.resp-1370px-img-size-top-2{
        height: 11rem;
    }



/*MAIN-BOTTOM · html > head > body > header > main.bottom.activities-box*/
section.resp-1370px-activities-box {  
    margin: 2% 0% 0% 0%;
    padding: 1%;
    height: 36rem;
    width: 100%;
}
figure > figcaption > p.resp-1370px-margin-text-activities { 
    margin-top: 4%;
}
div.resp-1370px-image-box-large {  
    border-radius: 20px 20px 20px 20px;
    width: 20rem;
    height: 30rem;						
    box-shadow: 3px 3px 3px 3px rgb(240, 228, 238);
    background-color: white;
}
figure > img.resp-1370px-image-size-large { 
    border-radius: 20px 20px 0px 0px;
    height: 425px;		
    width: 100%;
    max-height: 85%;
}
div.resp-1370px-image-box-small { 
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 3px 3px 3px 3px rgb(240, 228, 238);
    height: 14.3rem;
    width: 19rem;
}
figure > img.resp-1370px-image-size-small { 
    border-radius: 20px 20px 0px 0px;
    height: 160px;
    width: 100%;
    max-height: 85%;
}




    section.resp-1370px-background {            
        flex-direction: column;
        height: 100%;
        width: 100%;		
        margin-top: 3rem;
        padding-top: 50px;
    }
    section > div.resp-1370px-footer-box { 
            flex-direction: column;
        height: 26rem;
        width: 100%;		
    } 
    div > ul.resp-1370px-ul-box {
        margin-bottom: 20px;
    }
    ul > li.resp-1370px-margin-title, 
    ul > li.resp-1370px-margin-text {
        margin-bottom: 4%;
    }
}
