/* BODY CONFIGURATION */
body {
    height: auto;
}

/* HEADER NAVIGATION CONFIGURATION */
img.img-reservia { 
    right: 0.4rem;
    width: 8rem;
    max-width: 100%;
    margin: auto 0;
}
ul.header { 
    width: 23rem;
    display: flex;
}
a.blue-text {
    height: 5rem;
    color: #0065FC;
    font-size: 1rem;
    padding-top: 16px;
    padding-right: 25px;
    padding-left: 25px;
}
a.white-text {
    color: black;
    font-size: 1rem;
    padding-top: 16px;
    padding-right: 25px;
    padding-left: 25px;
}
.barr:hover {
    border-top: #0065FC 0.2rem solid;
    width: 150px;
    height: 50px;
    padding-bottom: 100px;
}
/* resp = responsive */
@media screen and (max-width: 675px) {
    .resp-675-header {
        width: 630px;
        margin-bottom: 5%;
    }
    img.resp-675-img-reservia { 
        height: 2.5rem;
        width: 4.5rem;
        position: absolute;
        left: 20px;
        top: 1px;
    }
    nav.resp-675-nav-top { 
        width: 100%;
    }
    .resp-675-barr:hover {
        border-bottom: #0065FC 0.2rem solid;
        width: 150px;
    }
}
@media screen and (max-width: 380px)
{ 

    header {
        width: 370px;
    }
    img.resp-380-img-reservia { 
        height: 2.5rem;
        width: 5rem;
        position: absolute;
        left: 30px;
        top: 1px;
    }
    nav.resp-380-nav-top {  
        width: 370px;
        margin-left: 0%;
    }
    ul.resp-380-header {
        width: 100%;
    }
    .resp-380-hebergement { 
        border-bottom: rgb(184, 174, 174) 0.1rem solid;
        width: 350px;
        margin-top: 20%;

        padding-bottom: 15px;	
    }
    .resp-380-activities {  
        border-bottom: rgb(184, 174, 174) 0.1rem solid;
        width: 350px;
        margin-top: 20%;

        padding-bottom: 15px;
    }
    .barr:hover {
        display:none;
    }
    .resp-380-hebergement:hover,
    .resp-380-activities:hover { 
        border-bottom: #0065FC 0.2rem solid;
    }
    .resp-380-register {
        position: absolute;
        left: 260px;
        top: 12px;
    }
    .resp-380-barr:hover {
        border-bottom: #0065FC 0.2rem solid;
        width: 150px;
    }
}
/* resp = responsive */
@media (max-width: 665px)
{ 
    nav.nav-top { 
        width: 100%;
    }
    .resp-hebergement {
        margin-top: 10%; 
        margin-bottom: 10%;						
    }
    .resp-activities {
        margin-right: 60px;
    }
    .resp-inscrire {
        position: absolute;
        left: 255px;
        top: 15px;
    }
    .barr:hover {
        border-bottom: #0065FC 0.2rem solid;
        width: 150px;
    }
}

/* HEADER FILTER CONFIGURATION */
.input-size {
    width: 240px;
}
input::placeholder {
    font-size: 12pt;
    font-weight: bold;
    color: black;
    padding-left: 15px;
}
/*	MAIN PART · html > head > body > header > main.top { box }	*/
main > div.main-top { 
    width: 50rem;
}
h3.title-top {
    color: black;
    font-size: 15pt;
    font-weight: bold;
    margin-bottom: 0.3%;
}		
br.resp-380-jump-line {
    display: none;
}	
/*	MAIN PART · html > head > body > header > main.top.search	*/
img.map-maker {
    height: 20px;
    width: 20px;
    margin-top: 10px;
    margin-left: 14px;
    max-width: 100%;
}
div.container-maker { 
    background-color: rgb(184, 174, 174);
    border-radius: 10px 0px 0px 10px;	
    width: 2.5rem;	
}
div.search {
    height: 2.5rem;
    margin-bottom: 6%;

}
button.button-search {
    background-color: #0065FC;
    color: white;
    border-radius: 0px 10px 10px 0px;		
    border: #0065FC;
}
img.resp-380-search-glass {
    display: none;
}
button.button-text {
    margin: 0.5rem;
}
/*	MAIN PART · html > head > body > header > main.top.filter	*/
div.filter  {
    width: 700px;
    height: auto;
    margin-bottom: 3%;
    padding: 10px 5px;
}
p.title-filter {
    display: flex;
    margin-right: 10px;
    margin-top: 1%;
}
ul.filter-list {
    width: 38rem;
}
ul.filter-list > li.filter-item {
    width: max-content;
}
ul.filter-list > li.filter-item > input {
    display: none;
}
ul.filter-list > li.filter-item > label.filter-name {
    display: flex;
    background-color: white;
    border-radius: 20px;
    height: 30px;
    border-top: 0.5px solid rgb(199, 196, 196);
    border-bottom: 0.5px solid rgb(199, 196, 196);
    border-right: 0.5px solid rgb(199, 196, 196);
    border-left: none;
}
ul.filter-list > li.filter-item > label.filter-name > div.cropper {
    background-color: #DEEBFF ;
    border-radius: 50%;
    height: 31px;
    width: 31px;
    display: flex;
    overflow: hidden;
    margin-bottom: 5%;
    justify-content: center;
    align-items: center;
}
ul.filter-list > li.filter-item > label.filter-name > div.cropper > img.filter-icon {
    height: 15px;
    width: 15px;
    max-width: 100%;
    margin: auto 0;
}
ul.filter-list > li.filter-item > label.filter-name > span.name {
    padding: 0 10px 0 5px;
    line-height: 34px;
}
/*	MAIN PART · html > head > body > header > main.top.info	*/
div > ul > li > div > img.icon-info {
    height: 15px;
    width: 15px;
    margin: 3.5px 0px 0px 9px;
}
div.container-info  {
    width: 28rem;
}
div.container-info > ul > li > div.border {
    border: 1.5px solid #9E9E9E;
    border-radius: 20px ;
    height: 22px;
    width: 22px;
}
ul.filter-list > li.filter-item > label.filter-name:hover {
    background: #f0f0f0;
}
/* typo style */
ul.part-information {
    height: 25px;
    margin-bottom: 3%;
}
li.typo-grey, p.typo-grey {
    font-size: 12pt;
    margin-top: 1%;
}
/* resp = responsive */
@media screen and (max-width: 675px) 
{
    div.resp-675-main-top { 
        width: 650px;																	
    }
    h3.resp-675-title-top {
        width: 100%;
    }
    h3.resp-675-text-size {
        width: 6450px;
        font-size: 15pt;
    }
    p.resp-675-title-filter {
        margin-bottom: 4%;
    }
    br.resp-675-jump-line {
        display: initial;
    }	
    div.resp-675-filter {
        height: auto;
        width: 325px;																	
    }
    ul.resp-675-filter-list { 
        height: 4.5rem;
        width: 300px;
    }
    .resp-675-family {  
        margin-right: 12%;
    }
    span.resp-675-desktop-text {
        display: initial;
    }
    button.resp-675-button-search {
        background-color: #0065FC;
        border-radius: 10px 10px 10px 10px;		
        border: #0065FC;
        width: 5.5rem;
        height: 2.5rem;
    }
    div.resp-675-margin-bottom {  							
        margin-bottom: 20px
    }
    div.resp-380-container-info { 
        margin-bottom: 15px;
        margin-top: -30px;
    }
}
@media screen and (max-width: 380px)
{ 
    main { 
        width: 370px;
    }
    div.resp-380-main-top { 
        width: 370px;
        margin-left: 0%;															
    }
    h3.resp-380-title-top {
        margin-bottom: 3%;
    }
    h3.resp-380-text-size {
        font-size: 17pt;
    }
    p.resp-380-title-filter  {
        margin-bottom: 4%;
    }
    br.resp-380-jump-line {
        display: initial;
    }	
    div.resp-380-filter { 
        height: auto;
        width: 325px;																	
    }
    ul.resp-380-filter-list { 
        height: 7rem;
        width: 300px;
    }
    span.resp-380-desktop-text {
        display: none;
    }
    button.resp-380-button-search {
        background-color: #0065FC;
        border-radius: 10px 10px 10px 10px;		
        border: #0065FC;
        width: 2.5rem;
        height: 2.5rem;
        margin-left: -10px;
    }
    img.resp-380-search-glass {  							
        display: initial;
        height: 20px;
        width: 20px;
        max-width: 100%;
        margin-top: 5px;
    }
    div.resp-380-container-info {
        margin-bottom: 10%;
    }
    div.resp-380-border {
        margin-top: 15%;
    }
    li.resp-380-typo-grey {
        font-size: 12pt;
        margin-bottom: 8%;
    }
}


/*	MAIN PART · html > head > body > header > main.middle.accomodation	*/
div.main-middle { 
    width: 93rem;
}
div.accommodation-box { 
    width: 55rem;
    height: 38rem;
    border-radius: 20px 20px 20px 20px;
    padding: 1.7rem;
    background-color: rgb(242, 242, 242);

}
.title-size-1 {
    width: 60rem;
}
/*	MAIN PART · html > head > body > header > main.middle.image-box	*/
div.image-box {
    background-color: white;
    width: 16rem;
    border-radius: 20px 20px 20px 20px;
    padding: 3px;
    box-shadow: 3px 3px 3px 3px rgb(190, 189, 189);
}
/*	MAIN PART · html > head > body > header > main.middle.image	*/
img.img-size-top {
    background-position: top;
    border-radius: 20px 20px 0px 0px;
    width: 16rem;
    height: 8rem;
    margin-bottom: 5px;
    max-width: 100%;
    margin: auto;
}
/*	MAIN PART · html > head > body > header > main.middle.image-name	*/
li.place-name {
    margin-left: 10px;
}
/*	MAIN PART · html > head > body > header > main.middle.star-image {margin}	*/
div.star {
    margin-bottom: 5px;
    margin-left: 10px;
}
/*	MAIN PART · html > head > body > header > main.middle.star-image {size}	*/
img.blue-star {
    margin: 0.1%;
    height: 15px;
    width: 15px;
    max-width: 100%;
    margin: auto 0;
}
/* resp = responsive */
@media screen and (max-width: 675px)
{
    div.resp-675-main-middle { 
        width: 670px;																	
    }
    div.resp-675-accommodation-box { 
        height: 40rem;
        width: 670px;																	
        background-color: white;
        padding: 0%;
        margin: 0% 0% 10% 0%;
    }
    h3.resp-675-title-margin {
        margin-top: 5%;
        margin-left: 1%;
    }
    div.resp-675-image-box {
        height: 15rem;
        width: 25%;
    }
    li.resp-675-place-name-1 {
        margin-bottom: 4%;
    }
    li.resp-675-place-name {
        margin-bottom: 10%;
    }
}


@media screen and (max-width: 380px)
{
    div.resp-380-main-middle {  
        width: 370px;																	
        margin-bottom: 10%;
        margin-left: 0%;
    }
    div.resp-380-accommodation-box {  
        height: 85rem;
        width: 100%;																	
        background-color: white;
    }
    h3.resp-380-title-margin {
    }
    div.resp-380-image-box {
        height: 12rem;
        width: 90%;
    }
    img.resp-380-img-size-top {
        width: 370px;																
        height: 7.5rem;
        margin-bottom: 3%;
    }
    li.resp-380-place-name {
        margin-bottom: 1%;
    }
}


/*MAIN PART · html > head > body > header > main.middle.popular-box*/
h3.title-popular {
    margin-bottom: 38px;
}
div.popular-box {
    width: 20rem;
    height: 38rem;
    border-radius: 20px 20px 20px 20px;
    padding: 1.7rem;
    background-color: rgb(242, 242, 242);
}
/*MAIN PART · html > head > body > header > main.middle.popular.image-box*/
div.image-box-2 {
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    height: 8rem;
    width: 18rem;
    padding: 3px;
    margin: auto;
    box-shadow: 3px 3px 3px 3px rgb(190, 189, 189);
}
/*MAIN PART · html > head > body > header > main.middle.popular.image-size*/
img.img-size-top-2 {
    background-position: left;
    border-radius: 20px 0px 0px 20px;
    height: 8rem;
    width: 8rem;
    max-width: 100%;
    margin: auto 0;
}
/*MAIN PART · html > head > body > header > main.middle.popular.title-char*/
li.grey-size {
    font-size: 10pt;
}
/*MAIN PART · html > head > body > header > main.middle.popular.star-box*/
div.star-box {
    margin-top: -1.5rem;
    margin-left: 9rem;
}
/*MAIN PART · html > head > body > header > main.middle.popular.star-size*/
div.img.star-size {
    height: 10px;
    width: 10px;
    max-width: 100%;
    margin: auto 0;
}
/* resp = responsive */
@media screen and (max-width: 675px)
{
    div.resp-675-popular-box { 
        border-radius: 0px 0px 0px 0px;
        height: 350px;
        width: 670px;																	
        margin-bottom: 10%;
    }
    div.resp-675-title-box { 																
        height: 30px;
        width: 600px;
        position: absolute;
        top: 350px;
    }
    img.resp-675-icon {
        height: 15px;
        margin-bottom: 15%;
    }
    div.resp-675-image-box-2 {
        height: 17rem;
        width: 10rem;
    }
    img.resp-675-img-size-top-2 { 
        background-position: top;
        border-radius: 20px 20px 0px 0px;
        height: 9rem;
        width: 100%;
        max-width: 100%;
        margin: auto 0;
    }
    div.resp-675-star-box {
        margin-top: 2rem;
        margin-left: 1rem;
    }
    ul.resp-675-name-margin, li.resp-675-name-margin {
        margin-top: 5%;
    }
}

@media screen and (max-width: 380px)
{
    div.resp-380-popular-box { 
        border-radius: 0px 0px 0px 0px;
        height: 32rem;
        width: 100%;		
        padding: 0%;															
    }
    div.resp-380-title-box { 
        height: 5px;
    }
    img.resp-380-icon { 
        height: 20px;
    }
    div.resp-380-image-box-2 {
        width: 90%;
        height: 25%;
    }
    ul.resp-380-name-margin, li.resp-380-name-margin {
        margin-top: 5%;
    }
}


/*MAIN PART · html > head > body > header > main.bottom.activities-box*/
div.activities-box {
    margin: 2% 0% 0% 0%;
    padding: 1%;
    height: 35rem;
    width: 91rem;
}
/*MAIN PART · html > head > body > header > main.bottom.p.margin-text-activities*/
figure > figcaption > p.margin-text-activities {
    margin-top: 4%;
    margin-left: 9%;
}
/*MAIN PART · html > head > body > header > main.bottom.activities-image-box-large*/
div.image-box-large {
    border-radius: 20px 20px 20px 20px;
    width: 21rem;
    height: 30rem;						
    box-shadow: 3px 3px 3px 3px rgb(240, 228, 238);
    background-color: white;
}
/*MAIN PART · html > head > body > header > main.bottom.activities-image-size-large*/
figure > img.image-size-large {
    border-radius: 20px 20px 0px 0px;
    height: 425px;		
    width: 21rem;
    max-height: 85%;
}
/*MAIN PART · html > head > body > header > main.bottom.activities-image-box-small*/
div.image-box-small {
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 3px 3px 3px 3px rgb(240, 228, 238);
    width: 21rem;
}
/*MAIN PART · html > head > body > header > main.bottom.activities-image-box-small*/
figure > img.image-size-small {
    border-radius: 20px 20px 0px 0px;
    height: 415px;
    width: 21rem;
    max-height: 85%;
}
/*MAIN PART · html > head > body > header > main.bottom.activities-image-pomegues-size*/
div.fort-pomegues-box {
    height: 16rem;
}
figure > img.fort-pomegues-img {
    height: 200px;
}
/*MAIN PART · html > head > body > header > main.bottom.activities-image-pomegues-size*/
div.frioul-box {
    height: 12rem;
}
 figure > img.frioul-img {
    height: 140px;
}
/*MAIN PART · html > head > body > header > main.bottom.activities-image-pomegues-size*/
div.notre-dame-box {
    height: 13rem;		
}
figure > img.notre-dame-img {
    height: 155px;		
}
/*MAIN PART · html > head > body > header > main.bottom.activities-image-pomegues-size*/
div.longchamps-box {
    height: 15rem;		
}
figure > img.longchamps-img {
    height: 190px		
}
/* resp = responsive */
@media screen and (max-width: 675px)
{
    div.resp-380-activities-box, 
    div.resp-380-container-activities { 
    }
}
@media screen and (max-width: 380px)
{
    div.resp-380-activities-box { 
        height: 69rem;
        width: 370px;
        padding: 0%;
    } 
    div.resp-380-container-activities { 
        height: 69rem;
        width: 370px;		

    }
    h3.resp-380-title-box-activities {
        margin-bottom: 10%;
    }
    div.resp-380-duo-box {
        height: 21rem;
    }
    div.resp-380-image-box-large,
    div.resp-380-image-box-small {
        width: 90%;
        height: 10rem;
    }
    figure > img.resp-380-image-size-large,
    figure > img.resp-380-image-size-small {
        width: 100%;
        height: 7rem;
    }
}

											
/*MAIN PART · html > head > body > header > footer*/
div.footer-box { 
    height: 10rem;
    width: 70rem;
} 
ul > li.margin-title {
    margin-bottom: 10%
}
li.margin-text {
    margin-bottom: 7%;
}
/* resp = responsive */
@media (max-width: 675px)
{
    .resp-675-footer { 
        background-color: rgb(242, 242, 242);
        height: 10rem;
        width: 670px;																	
        padding-top: 30px;
    }		

    div.resp-675-footer-box {
        height: 10rem;
        width: 670px;																	
    } 
    ul > li.resp-675-margin-title, 
    ul > li.resp-675-margin-text {
        margin-bottom: 3%;
    }

}
@media (max-width: 380px)
{
    div.resp-380-footer-box {
        height: 26rem;
        width: 100%;					
        margin-left: 0%;
    } 
    ul > li.resp-380-margin-title, 
    ul > li.resp-380-margin-text {
        margin-bottom: 5%;
    }
}

    
/* General css setting */
/* FLEXBOX */
.PROD {background-color: rgb(218, 120, 120);}
.PRODII {background-color: rgb(211, 218, 120);}
.PRODII {background-color: rgb(120, 218, 120);}
/* FLEXBOX */
.flex {
    display: flex;
}
.row {
    flex-direction: row;
}
.column {
    flex-direction: column;
}
.between {
    align-content: space-between;
    justify-content: space-between;
}
.around {
    align-content: space-around;
    justify-content: space-around;
}
.align-center {
    align-items: center;
}	
/*MARGIN - PADDING*/
.margin-top {
    margin-top: 2%;
}
.margin-right {
    margin-right: 2%;
}
.margin-bottom {
    margin-bottom: 2%;
} 
.margin-left {
    margin-left: 2%;
}
figure, figcaption, p, ul, li
button, h1, h2, h3, h4, h5, h6 {
    margin: 0%;
    padding: 0%;
}
/* TEXT */
@font-face {
    font-family: "Raleway";
    src: url('assets/font/Raleway-VariableFont_wght.ttf') format('truetype'),
        url('assets/font/Raleway-VariableFont_wght.ttf') format('truetype'),
        url('assets/font/static/Raleway-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}	
a, ul, ul.li, p, i, span, input::placeholder,
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", Helvetica, sans-serif;	
}
.grey-text {
    color: #303030
}
.bold-text {
    font-weight: bold;
}
a {
    text-decoration: none;
    color: black;
}
ul {
    list-style: none;
}		
/* shadow */
.shadow-box {
    box-shadow: 1px rgb(221, 219, 219);
}
.shadow-box-2 {
    box-shadow: 0.5px rgb(250, 245, 249);
}
/* resp = responsive */
/*@media screen and (max-width: 675px) { 					
.rep-675-
}*/
@media screen and (max-width: 675px)
{
    .resp-675-row { 
        flex-direction: row;
    }
    .resp-675-wrap { 
        flex-wrap: wrap;						
    }
    .resp-675-row-reverse { 
        flex-direction: row-reverse;
    }
    .resp-675-column { 
        flex-direction: column;
    }
    .resp-675-column-reverse { 
        flex-direction: column-reverse;
    }
    .resp-675-between {
        align-content: space-between;
        justify-content: space-between;
    }
    .resp-675-around {
        align-content: space-around;
        justify-content: space-around;
    }
}
@media screen and (max-width: 380px)
{ 
    /* RESPONSIVE FLEX */
    .resp-380-row { 
        flex-direction: row;
    }
    .resp-380-wrap { 
        flex-wrap: wrap;						
    }
    .resp-380-row-reverse { 
        flex-direction: row-reverse;
    }
    .resp-380-column { 
        flex-direction: column;
    }
    .resp-380-column-reverse { 
        flex-direction: column-reverse;
    }
    .resp-380-between {
        align-content: space-between;
        justify-content: space-between;
    }
    .resp-380-around {
        align-content: space-around;
        justify-content: space-around;
    }
    .resp-380-align-center {
        align-items: center;
    }	
    /*RESPONSIVE MARGIN - PADDING*/
    .resp-380-margin-top {
        margin-top: 2%;
    }
    .resp-380-margin-right {
        margin-right: 2%;
    }
    .resp-380-margin-bottom {
        margin-bottom: 2%;
    } 
    .resp-380-margin-left {
        margin-left: 2%;
    }
    /* RESPONSIVE GRID */
    body {
        display: grid;
        grid-template-columns: auto minmax(375px, 667px);
        grid-template-areas: "header header"
                            "main main"
                            "footer footer";
    }
    header {
        grid-area: header;
    }
    main {
        grid-area: main;
    }
    footer {
        grid-area: footer;
    }
}
