/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*  resp-1370px = responsive max-width: 1370px   */ 
@media (max-width: 1370px) and (max-height: 1024px) {

    /*  HEADER NAVIGATION CONFIGURATION    */

    img.img-reservia {  
        position: absolute;
        top: 1%;
        left: 5%;
        height: 2.5rem;
        width: 6rem;
    }
    nav.nav-top {  
        height: 20%;
        width: 99.5%;
        margin: 0% 0% 5% 0%;
    }
    ul.header { 
        height: 100%;
        width: 100%;
    }
    li.hebergement {  
        border-bottom: rgb(184, 174, 174) 0.1rem solid;
        width: 50%;
        margin-top: 8%;
        padding-bottom: 15px;	
    }
    li.activities {  
        border-bottom: rgb(184, 174, 174) 0.1rem solid;
        width: 50%;
        margin-top: 8%;
        padding-bottom: 15px;	
    }
    li.register {  
        position: absolute;
        top: 1%;
        right: 4%;
    }
    a.barr:hover {
        display: none;
    }
    a.blue-text {
        color: #0065FC;
        font-size: 12pt;
        margin-left: 35%; 
        padding: 16px 20px 0px 20px;
    }
    a.black-text { 
        color: black;
        font-size: 12pt;
        margin-left: 35%; 
        padding: 16px 40px 0px 30px;
    }
    a.barr:hover {
        border-bottom: #0065FC 0.2rem solid;
        width: 150px;
    }    
    li.hebergement:hover,
    li.activities:hover { 
        border-bottom: #0065FC 0.2rem solid;
    }
    a.barr:hover {
        border-bottom: #0065FC 0.2rem solid;
        width: 150px;
    }


    /*  MAIN-TOP FILTER CONFIGURATION   */

    p.title-filter { 
        font-size: 14pt;
        height: 15px;
    }
    div.main-top { 
        width: 100%;
    }
    h3.text-size {
        font-size: 17pt;
    }
    br.jump-line {
        display: initial;
    }	
    div.filter { 
        height: auto;
        width: 90%;																	
    }
    ul.filter-list {  
        height: 7rem;
        width: 70%;
    }
    span.desktop-text {
        display: none;
    }
    div.search { 
        margin: 1% 0% 0.5% 0%;
    }
    button.button-search {
        background-color: #0065FC;
        border-radius: 10px 10px 10px 10px;		
        border: #0065FC;
        height: 2.5rem;
        width: 2.5rem;
        margin-left: -10px;
    }
    img.search-glass {  							
        display: initial;
        height: 15px;
        width: 15px;
        margin: 15% 0% 0% 10%; 
        max-width: 100%;
    }
    li.border { 
        margin-bottom: 3%;
    }
    li.typo-grey {   
        font-size: 15pt;
        width: 75%;
        margin-left: 0.5%;
    }


    /*  MAIN-MIDDLE · html > head > body > header > main.middle.accomodation    */

    main > div.main-middle {          
        flex-direction: row;
        height: 48rem;
        width: 97.5%;
    }
    main > div > section.accommodation-box {  
        height: 45rem;
        width: 63%;																	
    }
    h3.title-size-hebergement {
        font-size: 18pt;
        width: 98%;
        margin-left: 0%;
    }
    p.title-size-1 {  
        font-size: 15pt;
        width: 98%;
        margin-left: 0%;
    }
    img.blue-star {
        height: 20px;
        width: 20px;
        max-width: 100%;
        margin: 0;
    }
    ul.name-margin-hebergement { 
        margin: 5% 0% 5% 4%;
    }
    li.place-name-hebergement {  
        width: 100%;
        font-size: 15pt;
    }
    li.rate-hebergement {
        font-size: 12pt;
    }
    div.image-box {    
        height: 17rem;
        width: 29.5%;																	
        max-width: 100%;																	
    }
    figure  >img.img-size-top {
        height: 10rem;
        width: 100%;																
    }

    figure  >img.img-size-top-cannebiere {
        height: 10rem;
        width: 100%;						
        margin-top: 1.5%;										
    }


    /*  MAIN-MIDDLE · html > head > body > header > main.middle.popular-box    */

    section.popular-box {    
        border-radius: 0px 0px 0px 0px;
        height: 45rem;
        width: 34%;		
    }
    div.title-box {  
        font-size: 15pt;
        height: 25px;
        width: 98%;
        margin: 6% 0% 2.7rem 0%;
    }
    div > h3.title-popular { 
        font-size: 18pt;
    }
    img.icon-popular { 
        height: 1.5rem;
        width: 1.5rem;
        max-width: 100%;
    }
    div.thumbnail-box { 
        flex-direction: column;
        height: 39rem;
        width: 100%;		
    }
    figure.figure-size {
        flex-direction: row;  
        height: auto;
    }
    ul.name-margin-popular {  
        width: 100%;
        margin: 5% 0% 5% 5%;
    }
    li.place-name-popular {
        font-size: 13pt;
    }
    li.rate-popular {
        font-size: 12pt;
    }
    div.star-popular {
        margin-top:20%;
    }
    div.image-box-2 {  
        border-radius: 20px 20px 20px 20px;
        height: 11.5rem;
        width: 70%;
        padding: 1%;
    }
    img.img-size-top-2{
        height: 11rem;
    }


    /*  MAIN-BOTTOM · html > head > body > header > main.bottom.activities-box  */

    section.activities-box {  
        height: 36rem;
        width: 98.5%;
        margin: 2% 0% 0% 0%;
        padding: 1%;
    }
    figure > figcaption > p.margin-text-activities { 
        margin-top: 4%;
    }
    div.image-box-large {   
        /*background-color: white;*/
        box-shadow: 3px 3px 3px 3px rgb(240, 228, 238);
        border-radius: 20px 20px 20px 20px;
        height: 30rem;						
        width: 60%;
    }
    figure > img.image-size-large { 
        border-radius: 20px 20px 0px 0px;
        height: 425px;		
        width: 100%;
        max-height: 60%;
    }
    div.image-box-small { 
        background-color: white;
        border-radius: 20px 20px 20px 20px;
        box-shadow: 3px 3px 3px 3px rgb(240, 228, 238);
        height: 14.7rem;
        width: 90%;
        margin-left: 5%;
    }
    figure > img.image-size-small { 
        border-radius: 20px 20px 0px 0px;
        height: 160px;
        width: 100%;
        max-height: 85%;
    }
    section > h3.title-box-activities { 
        font-size: 18pt;
    }
    p.text-size-activities {
        font-size: 15pt;
    }


    /*  MAIN-BOTTOM · html > head > body > footer  */

    section.section-footer {            
        height: 32rem;
        width: 100%;		
    }
    section > div.footer-box {   
        flex-direction: row;
        align-content: space-around;
        justify-content: space-around;
        height: 90%;
        width: 95%;		
    } 
    h4.title-size-footer,
    a.link-size-footer {
        font-size: 14pt;
    }
    div > ul.ul-box { 
        margin-bottom: 20px;
    }
    ul > li.margin-title, 
    ul > li.margin-text {
        margin-bottom: 4%;
    }

   /* nav.nav-top {display: none;}
div.main-top {display: none;}
main > div > section.accommodation-box {display: none;}
main > div > section.popular-box {display: none;}
main > section.activities-box {display: none;}
footer > section.footer-box {display: none;} */
}
