/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*  General css setting    */
/*  TEXT   */

@font-face {
    src: url('assets/font/Raleway-VariableFont_wght.ttf') format('ttf'),
         url('Raleway-Italic-VariableFont_wght.ttf') format('ttf'),
         url('assets/font/static/Raleway-BlackItalic.ttf') format('ttf');
    font-family: "Raleway", "Helvetica", sans-serif;	
    font-weight: normal;
    font-style: normal;
}	
input::-webkit-input-placeholder {
    font-family: "Raleway", Helvetica, sans-serif;	
}	
input::-moz-placeholder {
    font-family: "Raleway", Helvetica, sans-serif;	
}	
input:-ms-input-placeholder {
    font-family: "Raleway", Helvetica, sans-serif;	
}	
input::-ms-input-placeholder {
    font-family: "Raleway", Helvetica, sans-serif;	
}	
a, ul, ul.li, li, p, i, span, input::placeholder,  
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", Helvetica, sans-serif;	
}
.raleway-font {
    font-family: "Raleway", Helvetica, sans-serif;	
}
.grey-text { 
    font-size: 0.9rem;
}
.bold-text {
    font-weight: bold;
}
a {
    text-decoration: none;
    color: black;
}
ul {
    list-style: none;
}		
/*  COLOR   */
.blue {
    color: #0065FC;
    }    
.light-blue {
    color: #DEEBFF;
}
.background-grey {
    background-color: #F2F2F2;
}
.grey {
    color: #b4adad;
}

/*  IMAGE   */
.cover {
    -o-object-fit: cover;
       object-fit: cover;
}

/*  FLEXBOX    */
.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}
.column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.between {
    -ms-flex-line-pack: justify;
        align-content: space-between;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.around {
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.align-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}	

/*  MARGIN - PADDING   */
main {
    margin-left: 2%;
    margin-right: 2%;
}
figure, figcaption, p, ul, li
button, h1, h2, h3, h4, h5, h6 {
    margin: 0%;
    padding: 0%;
}


/*  HEADER NAVIGATION CONFIGURATION    */
nav.nav-top {       
    width: 100%;
}
li.logo {    
    width: 75%;
    margin-left: 2%;
}
figure > img.img-reservia { 
    max-width: 100%;
    height: 3rem;
    width: 6rem;
}
li.register {
    margin-right: 2%;
}
a.blue-text {
    color: #0065FC;
    font-size: 1rem;
    padding: 16px 25px 0px 25px;
}
a.black-text {
    color: black;
    font-size: 1rem;
    padding: 16px 25px 0px 25px;
}
.barr:hover {
    border-top: #0065FC 0.2rem solid;
    height: 50px;
    width: 150px;
    padding-bottom: 100px;
}


/*  MAIN-TOP FILTER CONFIGURATION   */
div.main-top {                                                          
    height: 15rem;
    width: 100%; 
    margin-top: 5%;
}
input.input-size {
    width: 240px;
}
input::-webkit-input-placeholder {
    font-size: 12pt;
    font-weight: bold;
    color: black;
    padding-left: 15px;
}
input::-moz-placeholder {
    font-size: 12pt;
    font-weight: bold;
    color: black;
    padding-left: 15px;
}
input:-ms-input-placeholder {
    font-size: 12pt;
    font-weight: bold;
    color: black;
    padding-left: 15px;
}
input::-ms-input-placeholder {
    font-size: 12pt;
    font-weight: bold;
    color: black;
    padding-left: 15px;
}
input::placeholder {
    font-size: 12pt;
    font-weight: bold;
    color: black;
    padding-left: 15px;
}
h3.title-top { 
    color: black;
    font-size: 15pt;
    font-weight: bold;
    margin-bottom: 0.5%;
}		
br.jump-line {
    display: none;
}	
div.search {
    height: 2.5rem;
    width: 23rem;
}
i.search-glass {
    display: none;
}
i.map-maker { 
    height: 20px;
    width: 20px;
    max-width: 100%;
    margin: 12px 0px 0px 14px;
}
div.container-maker { 
    background-color: rgb(184, 174, 174);
    border-radius: 10px 0px 0px 10px;	
    height: 2.5rem;	
    width: 2.5rem;	
}
button.button-search { 
    background-color: #0065FC;
    color: white;
    border-radius: 0px 10px 10px 0px;		
    border: #0065FC;
}
button.button-text {
    margin: 0.5rem;
}
div.filter  { 
    height: auto;
    width: 700px;
    padding: 10px 5px;
}
p.title-filter {
    margin: 0% 10px 0px 0px;
}
ul.filter-list { 
    width: 100%;
}
ul.filter-list > li.filter-item {  
    width: -webkit-max-content;  
    width: -moz-max-content;  
    width: max-content;
    height: 40px;
    
}
ul.filter-list > li.filter-item > input {
    display: none;
}
ul.filter-list > li.filter-item > label.filter-name { 
    background-color: white;
    border-radius: 25px;
    height: 34px;
    border: 0.5px solid rgb(199, 196, 196);
    border-left: none;
}
ul.filter-list > li.filter-item > label.filter-name > span.cropper { 
    -webkit-box-pack: center; 
        -ms-flex-pack: center; 
            justify-content: center;
    background-color: #DEEBFF;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    overflow: hidden;
    margin-top: -0.5%; 
    margin-left: -0.5%;
}
ul.filter-list > li.filter-item > label.filter-name > span.cropper > i.filter-icon {
    height: 15px;
    width: 15px;
    max-width: 100%;
    margin: auto 0;
}
ul.filter-list > li.filter-item > label.filter-name > span.name {
    padding: 0 10px 0px 5px;
    line-height: 34px;
}
div > ul > li > div > i.icon-info {  
    height: 15px;
    width: 15px;
    margin: 3.5px 0px 0px 8px;
}
div.container-info > ul > li > div.border { 
    border: 1.5px solid #9E9E9E;
    border-radius: 20px ;
    height: 21px;
    width: 21px;
    margin-right: 10px;
}
ul.filter-list > li.filter-item > label.filter-name:hover {
    background-color: #f0f0f0;
}
ul.part-information { 
    height: 25px;
    width: 30%;
}
li.typo-grey, p.typo-grey {  
    font-size: 12pt;
}


/*  MAIN-MIDDLE 路 html > head > body > header > main.middle.accomodation    */
div.main-middle {  
    height: 40rem;
    width: 100%;			
    margin-top: 4%;														
}
section.accommodation-box { 
    background-color: #F2F2F2;
    border-radius: 20px 20px 20px 20px;
    height: 100%;
    width: 70%;
}
h3.title-size-hebergement,
p.title-size-bottom-hebergement {    
    width: 100%;
    margin-left: 3%;
}
div.image-box {
    background-color: white;
    height: 34%;
    width: 26%;
    border-radius: 20px 20px 20px 20px;
    padding: 0.3%;
}
figure > img.img-size-top { 
    border-radius: 20px 20px 0px 0px;
    background-position: top;
    max-width: 100%;
    max-height: 100%;
    height: 8rem;
    width: 100%;
}

ul.fig-content-accomodation {   
    height: 4.8rem;
    width: 95%;
    margin: auto;
}
li.grey-text-accomodation,
li.bold-text-accomodation {   
    font-size: 12pt;
    margin-top: 1.5%;
}
li.star-hebergement {
    margin-top: 1%;
}

/*  MAIN-MIDDLE 路 html > head > body > header > main.middle.popular-box    */
section.popular-box {   
    border-radius: 20px 20px 20px 20px;
    background-color: #F2F2F2;
    height: 100%;
    width: 25%;
}
div.title-box { 
    width: 85%;
    margin-top: 6%;
    margin-left: 7%;
}
i.icon {  
    height: 1rem;
    width: 1rem;
    max-width: 100%;
}
div.thumbnail-box {   
    height: 89%;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
div.image-box-2 {  
    background-color: white;
    border-radius: 20px 20px 20px 20px; 
    height: 9.3rem;
    width: 82%;
    padding: 0.3%;    
}
figure > img.img-size-top-2 {
    background-position: left;
    border-radius: 20px 0px 0px 20px;
    max-height: 100%;
    max-width: 100%;
    height: 9.3rem;
    width: 50%;
}
ul.fig-content-popular { 
    height: 95%;
    width: 100%;
    margin: auto;
}
li.grey-text-popular,
li.bold-text-popular {  
    font-size: 12pt;
    margin-top: 3%;
}
li.star-popular {
    margin-top: 35%;
}


/*  MAIN-BOTTOM 路 html > head > body > header > main.bottom.activities-box  */
section.activities-box {  
    height: 32.5rem;
    width: 100%;
    margin-top: 3%;
}
div.image-box-large { 
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    -webkit-box-shadow: 3px 3px 3px 3px rgb(240, 228, 238);
            box-shadow: 3px 3px 3px 3px rgb(240, 228, 238);
    height: 30rem;						
    width: 22%;                   
}
figure > img.image-size-large {  
    border-radius: 20px 20px 0px 0px;
    background-position: top;
    height: 27rem;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
}
div.duo-box {  
    height: 30rem;						
    width: 22%;
}
div.image-box-small {
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    -webkit-box-shadow: 3px 3px 3px 3px rgb(240, 228, 238);
            box-shadow: 3px 3px 3px 3px rgb(240, 228, 238);
    width: 100%;
}
p.margin-text-activities {
    margin: 4.5%;
}
figure > img.image-size-small { 
    border-radius: 20px 20px 0px 0px;
    background-position: top;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
}
div.fort-pomegues-box {
    height: 55%;
}
figure > img.fort-pomegues-img {
    background-position: top;
    max-height: 100%;
    max-width: 100%;
    height: 13.5rem;
    width: 100%;
}
div.frioul-box {
    height: 35%;
}
figure > img.frioul-img {
    background-position: top;
    max-height: 100%;
    max-width: 100%;
    height: 7.5rem;
    width: 100%;
}
div.notre-dame-box {
    height: 42%;		
}
figure > img.notre-dame-img {
    background-position: top;
    max-height: 100%;
    max-width: 100%;
    height: 9.5rem;		
    width: 100%;
}
div.longchamps-box {
    height: 48%;		
}
figure > img.longchamps-img {
    background-position: top;
    max-height: 100%;
    max-width: 100%;
    height: 11.3rem;		
    width: 100%;
}


/*  MAIN-BOTTOM 路 html > head > body > footer  */

section.section-footer {  
    background-color: rgb(242, 242, 242);
    width: 100%;            
    margin-top: 3%;
} 
div.footer-box {  
    width: 80%;
}
ul.ul-box { 
    height: 7rem;
    margin-top: 5%;
    margin-left: 5%;
}
li.margin-title {      
    margin-bottom: 5%;
}
li.margin-text { 
    margin-bottom: 4%;
}