/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*  resp-380px = responsive max-width: 380px   */ 
@media screen and (max-width: 380px) 
{ 
    /* margin CONFIGURATION */
    main > div.resp-380px-margin{  
        margin: 1.5%
    } 


    /*  HEADER NAVIGATION CONFIGURATION    */

    img.resp-380px-img-reservia { 
        height: 2.5rem;
        width: 5rem;
        position: absolute;
        left: 20px;
        top: 1px;
    }
    nav.resp-380px-nav-top {  margin: 0% 0% 10% 0%;
        width: 100%;
        margin: 0% 0% 10% 0%;
    }
    ul.resp-380px-header {
        height: 100px;
        width: 100%;
    }
    li.resp-380px-hebergement {
        border-bottom: rgb(184, 174, 174) 0.1rem solid;
        width: 350px;
        margin-top: 20%;
        padding-bottom: 15px;	
    }
    li.resp-380px-activities {  
        border-bottom: rgb(184, 174, 174) 0.1rem solid;
        width: 350px;
        margin-top: 20%;
        padding-bottom: 15px;
    }
    li.resp-380px-register { 
        position: absolute;
        left: 260px;
        top: 12px;
    }
    a.barr:hover {
        display:none;
    }
    a.resp-380px-blue-text {
        height: 2rem;
        color: #0065FC;
        font-size: 12pt;
        margin-left: 25px; 
        padding: 16px 20px 0px 20px;
    }
    a.resp-380px-blue-text-2 {
        height: 2rem;
        color: #0065FC;
        font-size: 12pt;
        padding: 16px 25px 0px 25px;
    }
    a.resp-380px-black-text { 
        color: black;
        font-size: 12pt;
        margin-left: 25px;
        padding: 16px 40px 0px 30px;
    }
    a.resp-380px-barr:hover {
        border-bottom: #0065FC 0.2rem solid;
        width: 150px;
    }    
    li.resp-380px-hebergement:hover,
    li.resp-380px-activities:hover { 
        border-bottom: #0065FC 0.2rem solid;
    }
    a.resp-380px-barr:hover {
        border-bottom: #0065FC 0.2rem solid;
        width: 150px;
    }


    /*  MAIN-TOP FILTER CONFIGURATION   */

    div > h3.resp-380px-title-top {  
        font-size: 14pt;
    }
    p.resp-380px-typo-grey {
        font-size: 12pt;
        margin-top: 3%;
    }
    p.resp-380px-title-filter { 
        margin-bottom: 10%;
    }
    div.resp-380px-main-top { 
        width: 100%;
    }
    h3.resp-380px-text-size {
        font-size: 17pt;
    }
    br.resp-380px-jump-line {
        display: initial;
    }	
    div.resp-380px-filter {   
        -webkit-box-orient: vertical;   
        -webkit-box-direction: normal;   
            -ms-flex-direction: column;   
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        height: auto;
        width: 100%;	
        margin-bottom: 10%;																
    }
    ul.resp-380px-filter-list { 
        -webkit-box-orient: horizontal; 
        -webkit-box-direction: normal; 
            -ms-flex-direction: row; 
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        height: 6.5rem;
        width: 280px;
    }
    div.resp-380px-container-info { 
        margin-bottom: 10%;
    }
    span.resp-380px-bold-text {
        margin-left: 20px;
    }
    span.resp-380px-desktop-text {
        display: none;
    }
    div.resp-380px-search { 
        margin: 5% 0% 5% 0%;
    }
    input.resp-670px-input-size {
        width: 17rem;
    }
    button.resp-380px-button-search {
        background-color: #0065FC;
        border-radius: 10px 10px 10px 10px;		
        border: #0065FC;
        width: 2.5rem;
        height: 2.5rem;
        margin-left: -10px;
    }
    img.resp-380px-search-glass {  							
        display: initial;
        height: 15px;
        width: 15px;
        margin: 15% 0% 0% 10%; 
        max-width: 100%;
    }
    li > div.resp-380px-border { 
        margin-bottom: 30%;
    }
    li.resp-380px-typo-grey { 
        font-size: 12pt;
        margin: 1% 0% 0% 1%;
    }


    /*  MAIN-MIDDLE · html > head > body > header > main.middle.accomodation    */

    main > div.resp-380px-main-middle {      
        -webkit-box-orient: vertical;      
        -webkit-box-direction: reverse;      
            -ms-flex-direction: column-reverse;      
                flex-direction: column-reverse;
        height: 135rem;
        width: 100%;
        margin-top: 20%;
        padding: 0%; 
    }
    main > div > section.resp-380px-accommodation-box { 
        background-color: white;
        height: 112rem;
        width: 100%;																	
        margin-top: 5%;        
    }
    section > h3.resp-380px-title-size-hebergement {  
        font-size: 12pt;
        height: 20px;
        margin: 0% 5% 5% 2%;
    }
    p.resp-380px-title-size-1 {  
        font-size: 11pt;
        width: 98%;
    }
    div.resp-380px-image-box {
        height: 12.5rem;
        width: 92%;																	
        max-width: 100%;		
        margin-left: 1%;															
    }
    figure > img.resp-380px-img-size-top {
        height: 7rem;
        width: 100%;																
    }
    div.resp-380px-star-hebergement {
        margin-top: 3%;
    }
    div.resp-380px-star-hebergement-cannebiere {
        margin-top: 1%;
    }
    img.resp-380px-blue-star {
        height: 15px;
        width: 15px;
        max-width: 100%;
        margin: auto 0.1%;    
    }


    /*  MAIN-MIDDLE · html > head > body > header > main.middle.popular-box    */

    section.resp-380px-popular-box { 
        border-radius: 0px 0px 0px 0px;
        height: 40rem;
        width: 100%;		
        margin: 20% 0% 0% 0%;
    }
    div.resp-380px-title-box { 
        height: 1px;
        width: 21rem;
        margin-left: 3%;
    }
    div > h3.resp-380px-title-popular {
        font-size: 12pt;
    } 
    img.resp-380px-icon-popular {
        height: 1rem;
        width: 1rem;
        max-width: 100%;
    }
    div.resp-380px-thumbnail-box { 
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: auto;
        width: 100%;		
    }
    figure.resp-380px-figure-size {  
        -webkit-box-orient: horizontal;  
        -webkit-box-direction: normal;  
            -ms-flex-direction: row;  
                flex-direction: row;  
        height: auto;
    }
    ul.resp-380px-name-margin-popular {  
        margin-left: 1rem;
        width: 12rem;
    }
    li.resp-380px-place-name-popular,
    li.resp-380px-rate-popular {  
        font-size: 10pt;
        width: 12rem;
    }

    div.resp-380px-star-popular {   
        margin-left: 8.1rem;
    }
    div.resp-380px-image-box-2 { 
        border-radius: 20px 20px 20px 20px;
        height: 9.5rem;
        width: 92%;	
        padding: 1.2%;
        margin-left: 1%;
    }
    img.resp-380px-img-size-top-2 {  
        background-position: left;
        border-radius: 20px 0px 0px 20px;
        height: 9.5rem;
        width: 36%;
        max-width: 100%;
    }


    /*  MAIN-BOTTOM · html > head > body > header > main.bottom.activities-box  */

    section.resp-380px-activities-box {       
        height: 70rem;
        width: 100%;
        margin: 10% 0% 10% 0%;
    } 
    div.resp-380px-container-activities {           
        height: 69rem;
        width: 100%;	
        padding: 0%;
    }
    section > h3.resp-380px-title-box-activities {  
        font-size: 12pt;
        margin-bottom: 10%;
    }
    p.resp-380px-text-size-activities {
        font-size: 10pt;
    }
    div.resp-380px-duo-box {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: 21.3rem;
        width: 100%;
    }
    div.resp-380px-image-box-large,
    div.resp-380px-image-box-small {  
        height: 10rem;
        width: 95%;
        margin-left: 1.5%;
    }
    figure > img.resp-380px-image-size-large,
    figure > img.resp-380px-image-size-small { 
        height: 7rem;
        width: 100%;
    }


    /*  MAIN-BOTTOM · html > head > body > footer  */

    section.resp-380px-background {          
        -webkit-box-orient: vertical;          
        -webkit-box-direction: normal;          
            -ms-flex-direction: column;          
                flex-direction: column;
        height: 32rem;
        width: 100%;		
    }
    section > div.resp-380px-footer-box { 
        -webkit-box-orient: vertical; 
        -webkit-box-direction: normal; 
            -ms-flex-direction: column; 
                flex-direction: column;
        height: 25rem;
        width: 100%;		
    } 
    h4.resp-380px-title-size-footer,
    a.resp-380px-link-size-footer {
        font-size: 10pt;
    }
    div > ul.resp-380px-ul-box { 
        margin-bottom: 20px;
    }
    ul > li.resp-380px-margin-title, 
    ul > li.resp-380px-margin-text {
        margin-bottom: 4%;
    }
}