/* resp = responsive */ 
@media screen and (max-width: 1050px) { 

    img.resp-1050px-img-reservia { 
        height: 4rem;
        width: 9rem;
        position: absolute;
        left: 22px;
        top: 1px;
    }
    ul.resp-1050px-header {  
        height: 40px;
        width: 30%; 
        margin-right: 20%;
    }
    nav.resp-1050px-nav-top { 
        width: 100%;
    }
    a.resp-1370px-blue-text, 
    a.resp-1370px-black-text {
        font-size: 17pt;
    }
    header {
        margin-bottom: 5%;
    }
    li.resp-1050px-register { 
        position: absolute;
        left: 54rem;
        top: 26px;
    }


    div.resp-1050px-main-top { 
        width: 100%;
        height: 20rem;
    }
    h3.resp-1050px-title-top {
        font-size: 20pt;
        margin-bottom: 1%;
    }
    p.resp-1050px-typo-grey {
        font-size: 15pt;
        margin-bottom: 1%;
    }
    div.resp-1050px-search { 
        margin-top: 4%;  
        margin-bottom: 3.5%;  
    }
    input.resp-1050px-input-size {  
        height: 2.5rem;
        width: 340px;
    }  

    p.resp-1050px-title-filter {
        margin-bottom: 10px;

    }
    ul.resp-1050px-filter-list {   

        height: 4rem;
        width: 600px;
    } 
    div.resp-1050px-filter {   
        align-content: space-between;
        align-items: center;
        height: 1rem;
        width: 850px;
    } 
    li.resp-1050px-typo-grey { 
        font-size: 16pt;
    } 
    div.resp-1050px-border {
        border: 1.5px solid #9E9E9E;
        border-radius: 20px ;
        height: 22px;
        width: 22px;
    }
    img.resp-1050px-icon-info {
        height: 20px;
        width: 20px;
        margin: 2px 0px 0px 8px;
    }


    div.resp-1050px-main-middle {  
        flex-direction: column-reverse;
        align-content: space-between;
        justify-content: space-between;
        height: 90rem;
        width: 100%;
        margin-top: 3%;
    }



    main > div > section.resp-1050px-accommodation-box { 
        justify-content: space-between;
        background-color: white;
        height: 50rem;
        margin-right: 5%;
        width: 100%;
    }
    h3.resp-1050px-title-margin {
        margin-top: 5%;
        margin-left: 1%;
    }
    div.resp-1050px-image-box { 
        border-radius: 20px 20px 20px 20px;
        height: 18rem;
        width: 30.5%;
        min-width: 25%;
    }
    ul.resp-1050px-name-margin-hebergement {
        font-size: 15pt;

        margin-top: 2%;
        margin-left: 5%;
        margin-bottom: 8%;
    }
    li.resp-1050px-place-name-hebergement {
        font-size: 15pt;
    }
    li.resp-1050px-rate-hebergement {
        font-size: 12pt;
    }
    div.resp-1050px-star-hebergement {
        margin-top: 2%;
    }
    img.resp-1050px-img-size-top {
        background-position: top;
        border-radius: 20px 20px 0px 0px;
        height: 12rem;
        width: 100%;
        max-width: 100%;
    }




    section.resp-1050px-popular-box { 
        border-radius: 0px 0px 0px 0px;
        height: 35rem;
        width: 100%;
    }
    div.resp-1050px-title-box  { 
        margin-bottom: 5%;
    }
    div.resp-1050px-thumbnail-box {
        height: 16px;
        flex-direction: row;
        align-content: space-between; 
        justify-content: space-between;
        width: 100%;
    }
    ul.resp-1050px-name-margin-popular {   
        width: 17rem;
    }
    li.resp-1050px-place-name-popular { 
        font-size: 14pt;    
    }
    li.resp-1050px-rate-popular { 
        width: 100%;
        font-size: 12pt;    
    }
    div.resp-1050px-star-popular {  
        width: 6rem;
        margin-top: 0.1%;
        margin-left: 5%;

    }
    div.resp-1050px-image-box-2 { 
        border-radius: 20px 20px 20px 20px;
        height: 25rem;
        width: 30%;
        padding: 0.5%;
    }
    figure.resp-1050px-figure-size {  
        flex-direction: column;  
    }
    img.resp-1050px-img-size-top-2 {  
        background-position: top;
        border-radius: 20px 20px 0px 0px;
        height: 17rem;
        width: 100%;
        max-width: 100%;
    }



    section.resp-1050px-activities-box { 
        justify-content: space-between;
        height: 50rem;
        width: 100%;
    } 
    div.resp-1050px-container-activities {
                flex-direction: row; 
                flex-wrap: wrap;
        height: 39.5rem;
        width: 100%;		
        margin: auto
    }
    div.resp-1050px-duo-box { 
        flex-direction: row;
        height: 15rem;
        width: 40rem;
    }
    div.resp-1050px-image-box-small,
    div.resp-1050px-image-box-large { 
        height: 19.5rem;
        width: 19rem;
    }
    figure > img.resp-1050px-image-size-small,
    figure > img.resp-1050px-image-size-large {
        height: 15rem;
        width: 100%;
    }
    



    section.resp-1050px-background {   
        height: 100%;
        width: 100%;		
    }
    div.resp-1050px-footer-box {   
        flex-direction: row;
        height: 8.5rem;
        width: 80%;	
        margin-left: 5%;																
    } 
    ul > li.resp-1050px-margin-title, 
    ul > li.resp-1050px-margin-text {  
         margin-bottom: 3%;
    }
}
