/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*  resp-670px = responsive max-width: 670px   */ 
@media screen and (max-width: 670px) { 

    /*  HEADER NAVIGATION CONFIGURATION    */
        img.resp-670px-img-reservia { 
            height: 2.5rem;
            width: 5rem;
            position: absolute;
            left: 27px;
            top: 1px;
        }
        li.resp-670px-activities {  
            margin-right: 40%;
        }
        li.resp-670px-register { 
            position: absolute;
            left: 33rem;
            top: 19.5px;
        }
        nav.resp-670px-nav-top {  
            width: 95%;
        }
        ul.resp-670px-header {  
            height: 30px;
            width: 40%;
        }
    
    
        /*  MAIN-TOP FILTER CONFIGURATION   */
    
        div.resp-670px-main-top {
            height: 20rem;
            width: 100%;
            margin-bottom: 5%;
        }
        li.resp-670px-hebergement { 
            width: 350px;
            margin-right: 3%;
        }
        li.resp-670px-activities {  
            width: 300px;
        }
        a.resp-670px-blue-text {
            height: 2rem;
            color: #0065FC;
            font-size: 12pt;
        }
        a.resp-670px-black-text { 
            color: black;
            font-size: 12pt;
        }
        .barr:hover {
            display:none;
        }
        .resp-670px-barr:hover {
            border-bottom: #0065FC 0.2rem solid;
            width: 150px;
        }    
        .resp-670px-hebergement:hover,
        .resp-670px-activities:hover { 
            border-bottom: #0065FC 0.2rem solid;
        }
        div > h3.resp-670px-title-top {
            font-size: 17pt;
            margin: 0% 0% 5% -0.5%;
        }
        div.resp-670px-filter { 
            -ms-flex-wrap: wrap; 
                flex-wrap: wrap;
            height: 3.5rem;
            width: 95%;
        }
        p.resp-670px-title-filter {
            margin-bottom: 5%;
        }
        ul.resp-670px-filter-list {  
            width: 100%;
            height: 4.5rem;
            margin-top: -4%;
        } 
        div.resp-670px-search {
            margin: 1.5% 0% 3% 0%;
        }
        input.resp-670px-input-size {
            width: 20rem;
        }
        div.resp-670px-container-info { 
            margin-top: 3%;    
        }
        li.resp-670px-typo-grey {
            font-size: 12.5pt;
        }
        p.resp-670px-head-typo-grey { 
            font-size: 15pt;
            margin-bottom: 5%;
        } 
        div.resp-670px-main-middle {  
            -webkit-box-orient: vertical;  
            -webkit-box-direction: reverse;  
                -ms-flex-direction: column-reverse;  
                    flex-direction: column-reverse;
            -ms-flex-line-pack: justify;
                align-content: space-between;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            height: 80rem;
            width: 100%;	
        }
    
    
        /*  MAIN-MIDDLE · html > head > body > header > main.middle.accomodation    */
    
        main > div > section.resp-670px-accommodation-box { 
            background-color: white;
            height: 35rem;
            width: 100%;																	
        }
        section > h3.resp-670px-title-size-hebergement { 
            font-size: 12pt;
            height: 20px;
            margin-left: 0.5%;
        }
        p.resp-670px-title-size-1 {
            font-size: 11pt;
            width: 98%;
            margin-left: 0%;
        }
        div.resp-670px-image-box {
            height: 13rem;
            width: 30%;
        }
        img.resp-670px-blue-star {
            -o-object-fit: cover;
               object-fit: cover;
            height: 15px;
            width: 15px;
            max-width: 100%;
            margin: auto 0.1%;    
        }
        ul.resp-670px-name-margin-hebergement {
            font-size: 12pt;
            margin: 3% 0% 0% 3%;
        }
        li.resp-670px-place-name-hebergement {  
            font-size: 10pt;
        }
        li.resp-670px-rate-hebergement {
            font-size: 10pt;
        }
        div.resp-670px-star-hebergement {
            margin: 8% 0% 0% 3%;
        }
        div.resp-670px-star-hebergement-cannebiere {
            margin: 7.5% 0% 0% 3%;
        }
        figure > img.resp-670px-img-size-top {
            background-position: top;
            border-radius: 20px 20px 0px 0px;
            height: 7rem;
            width: 100%;
            max-width: 100%;
        }
    
    
        /*  MAIN-MIDDLE · html > head > body > header > main.middle.popular-box    */
    
        section.resp-670px-popular-box {  -webkit-box-orient: vertical;  -webkit-box-direction: normal;  -ms-flex-direction: column;  flex-direction: column; 
            border-radius: 0px 0px 0px 0px;
            height: 42rem;
            width: 100%;	
        }
        div.resp-670px-title-box {  
            height: 20px;
            width: 95%;
            margin-left: 3%;
        }
        div > h3.resp-670px-title-popular { 
            font-size: 12pt;
        } 
    
        img.resp-670px-icon-popular {
            height: 1rem;
            width: 1rem;
            max-width: 100%;
        }
    
        div.resp-670px-thumbnail-box {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;        
            -ms-flex-line-pack: justify;        
                align-content: space-between;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            height: 31rem;
            width: 80%;	
            margin: auto;	
        }
        figure.resp-670px-figure-size { 
            -webkit-box-orient: horizontal; 
            -webkit-box-direction: normal; 
                -ms-flex-direction: row; 
                    flex-direction: row;  
            height: auto;
        }
        li.resp-670px-place-name-popular,
        li.resp-670px-rate-popular {
            font-size: 12pt;
        }
        div.resp-670px-star-popular { 
            width: 5rem;
            margin: -3% 0% 0% 16.5rem;
        }
        div.resp-670px-image-box-2 { 
            border-radius: 20px 20px 20px 20px;
            height: 9rem;
            width: 100%;		
            padding: 0.5%;
        }
        img.resp-670px-img-size-top-2 {  
            background-position: left;
            border-radius: 20px 0px 0px 20px;
            height: 9rem;
            width: 50%;
            max-width: 100%;
        }
    
    
        /*  MAIN-BOTTOM · html > head > body > header > main.bottom.activities-box  */
    
        section.resp-670px-activities-box {
            -ms-flex-pack: distribute;
                justify-content: space-around;
            height: auto;
            width: 100%;
            margin-bottom: 3%;
        } 
        div.resp-670px-container-activities {
            height: 31rem;
            width: 100%;		
        }
        section > h3.resp-670px-title-box-activities {
            font-size: 12pt;
        }
        p.resp-670px-text-size-activities {
            font-size: 10pt;
        }
        div.resp-670px-duo-box { 
            -webkit-box-orient: horizontal; 
            -webkit-box-direction: normal; 
                -ms-flex-direction: row; 
                    flex-direction: row;
            height: 15rem;
            width: 25.7rem;
        }
        div.resp-670px-image-box-small { 
            height: 14rem;
            width: 12.2rem;
        }
        figure > img.resp-670px-image-size-small {
            height: 11rem;
            width: 100%;
        }
        div.resp-670px-image-box-large { 
            height: 14rem;
            width: 12.2rem;
        } 
        figure > img.resp-670px-image-size-large {
            height: 11rem;
            width: 100%;
        } 
        
    
        /*  MAIN-BOTTOM · html > head > body > footer  */
    
        section.resp-670px-background {  
            background-color: rgb(242, 242, 242);
            height: 12rem;
            width: 95%;		
        }
        div.resp-670px-footer-box { 
            background-color: rgb(242, 242, 242);
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            height: 95%;
            width: 100%;	
        } 
        h4.resp-670px-title-size-footer,
        a.resp-670px-link-size-footer {
            font-size: 10pt;
        }
        ul.resp-670px-ul-box {
            background-color: rgb(242, 242, 242);
            height: 95%;
        }
        ul > li.resp-670px-margin-title, 
        ul > li.resp-670px-margin-text { 
             margin-bottom: 3%;
        }
    }
    